body {
  background-color: rgb(34, 39, 49);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial serif;
}
body > div {
  margin-bottom: 30px;
  display: grid;
  box-shadow: 0 0 5px 2px rgba(150, 255, 150, .6);
}
.step-1 {
  width: 1340px;
  padding: 40px 0;
  color: black;
  background-color: #E5E5E5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
}
.step-1 > div {
  height: 200px;
  width: 280px;
  margin: 20px;
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-1 > div:nth-child(9) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.step-1 > div:last-child {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.image > h3 {
  width: 200px;
  height: 120px;
  background-color: #DDD;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-panel {
  font-size: 8px;
  line-height: 9px;
}
.image-panel p {
  background-color: #DDD;
  width: 70%;
  padding-left: 20px;
}
.image-panel button {
  width: 100%;
  padding-left: 20px;
  text-align: left;
  background-color: #B00;
  border: none;
  cursor: pointer;
}
.step-2 {
  margin-top: 30px;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-areas: "logo . . . . . . . . . . nav nav auth"; 
}
.logo {
  grid-area: logo;
  font-weight: 600;
  font-size: 20pt;
  color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav > span {
  margin-right: 36px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.nav > span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateX(-101%);
  transition: transform 300ms ease-out;
}
.nav > span:hover::before {
  transform: translateX(0);
}
.auth {
  grid-area: auth;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth > button {
  position: relative;
  width: 100px;
  border-radius: 8px;
  height: 40px;
  background-color: royalblue;
  border: none;
  color: white;
  font-size: 13pt;
  font-weight: 200;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: transform 150ms;
}
.auth > button:hover {
  transform: scale(1.05);
}
.auth > button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 80px;
  background-color:rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, .4);
  transform: translate(100%, -52px) rotate(20deg);
}
.auth > button:hover::before {
  transform: translate(0, -52px) rotate(15deg);
  transition: transform 150ms;
}
.step-3 {
  width: 60%;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  grid-gap: 16px;
}
.step-3 div {
  height: 100%;
  width: 100%;
  background-color: wheat;
}
.step-3 div:first-child {
  grid-column: 1 / 6;
}
.step-3 div:nth-child(2) {
  grid-column: 6 / 9;
}
.step-3 div:nth-child(3) {
  grid-column: 9 / 13;
}
.step-3 div:nth-child(4) {
  grid-column: 1 / 9;
  grid-row-start: 2; 
}
.step-3 div:nth-child(5) {
  grid-column: 9 / 13;
  grid-row: 2 / 4; 
}
.step-3 div:last-child {
  grid-column: 1 / 9;
  grid-row-start: 3;
}